body{

}

.footer{
    border: 4px;
    width: 100%;
    margin: 0px auto;

}

.input-field input[type="text"],
.input-field input[type="password"]{
    border: 2px solid #16A085;
    width: 50%;
    margin:0px auto;
    background-color: #fff;
    
}


.input-field .descr {
    border: 2px solid #16A085;
    box-shadow: 0 0px 0 0 #000;
    padding: 10px;
    width: 750px;
    background-color: #fff;
    height: 70px;
}

.appearance-select {
    background-color: transparent;
    border: 2px solid #16A085;
    height: 30px;
    width: 50%;
    margin: 0px auto;
}


.form-group{
    border: 2px solid #16A085;
    box-shadow: 0 0px 0 0 #000;
    padding: 10px;
    width: 750px;
    background-color: #fff;

}

.botao {
    width: 150px;
    padding: 10px;
    font-size: 18px;
    color:#16A085;
    font-weight: 3400;
    background: #FFF;
    border: 2px solid #16A085;
    margin-top: 20px;
}

.botao:hover {
    background: #0E6655;
    color: #fff;
    border: 2px solid #0E6655;
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -khtml-transition: .3s;
    -ms-transition: .3s;

    
}

h1{
    color:#145A32;
    text-align: center;
    font-size: 40px;
}

.textos{
    font-size: 20px;
    color:#145A32;
    font-family: 'Times New Roman', Times, serif;  
    
}

.textos2{
    font-size: 20px;
    color:#145A32;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #16A085;
    width: 50%;
    
}

.nav a{
  text-decoration: none;
  color: #01546D;
 
  
}


.nav{
    font-size: 25px;
    text-align: center;
    padding-top: 70px;
    
  
}

.caixaP{
    text-align: center;
    
}


#container img {
    float:left
}

.container-footer{
    background-color:#16A085;
    font-size: 25px;
    
     color: #fff;
    height: 70px;
    width: 100%;

}

fieldset{
    text-align: center;
    border: transparent;
     
    
}